/********************************
* Default Styles - Mobile First
********************************/
.Md {
    display:none;
}

/********************************
* Large Screen Styles
* 1200px viewport / 18px font = 66.7em
********************************/

@media screen and (min-width: 750px) {
    .Sm {
        display:none;
    }

    .Md {
        display:block;
    }

}