/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Put your name here
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize*
/*noramilize css will be imported*/
@import url('normalize.css');
/*google font sansita import*/
@import url('https://fonts.googleapis.com/css?family=Sansita');
/*  1.2 Google fonts*

*  2.  General Styles (for all pages and devices)*/
h1,h2,h3,h4,h5,h6 {
    font-family: sansita, Eurostyle, sans-serif;
  }
  body{
    font-family: helvetica, verdana, sans-serif;
    font-size: 20px;
  }
    html {
        box-sizing: border-box;
        border: 5px solid black;
        float: center;
       }
       
       *, *:before, *:after{
        box-sizing: inherit;
       }
/*  3.  Mobile First (styles specific to small screens)
*/
.tile{
  text-align: center;
  background-color: rgba(200,200,200,.6);
  margin: .2em auto;
  border: 1px solid;
  border-radius: 10px;
}
nav ul li { 
    display: inline-block; 
    list-style: none; 
  }
  nav {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  footer{
    margin-bottom: 2em;
   }
   #site-brand {
    font-size: 2em;
    font-weight: 600;
  }
  
/*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */



