/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Put your name here
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize*
/*noramilize css will be imported*/
@import url('normalize.css');
/*google font sansita import*/
@import url('https://fonts.googleapis.com/css?family=Sansita');
/*  1.2 Google fonts*

*  2.  General Styles (for all pages and devices)*/

html{
    box-sizing: border-box;
  
}

*, *:before, *:after{
  box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6 {
    font-family: sansita, sans-serif;
  }
  body{
    font-family: helvetica, sans-serif;
  }    

  #page-header>h1 {
    font-family: helvetica, sans-serif;  
  }
  .bold{
    font-weight: bold
  }
/*  3.  Mobile First (styles specific to small screens)
*/
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: aliceblue
}

nav ul{
  display: flex;
  
}
nav ul li { 
  margin-right: 5px;
  list-style: none;
}

footer{
  margin-bottom: 3em;
 }

 #locInfo>p{
    text-align: justify;
    font-size: 0.9em;
 }

 .tile{
  background-color: rgba(200,200,200,.6);
  margin: .2em auto;
  border: 1px solid;
  border-radius: 15px;
  width: 200px;
  height: 200px;
}

.hide{
    visibility: hidden;
    display:none;
}

#curWeather{
  text-align: center;
  display: flex;
  flex-direction: column;
}

#dailyTemp{
  font-size: 5em;
  margin: 0px;
}
#redfont{
  color: red
}
#bluefont{
  color: blue
}

#hourly{
  font-family: sansita, Eurostyle, sans-serif;
  text-align: center;
}
section ul{
  display:flex;
  flex-direction: column;
}
section ul li{
  list-style: none;
}
#hourly li{
  flex-shrink: 0;
  border-right: 1px solid blue;
  padding: 0 10px;
}
#hourly li:last-child{
  border-right:none;
}
#hourly ul{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100px;
  background-color: beige;
  overflow-x: auto;
  padding:0;
  list-style-type: none;

}



/*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */
@media screen and (min-width: 750px){
  /*All large screen css rules go here */
nav{
  position: unset;
}
#curWeather{
  flex-direction: row;
}
.hide{
  visibility: visible;
}
section ul{
  flex-direction: row;
}
/*hr scroll bar*/
#hourly li{
    flex-shrink: 0;
    border-right: 1px solid blue;
    padding: 0 10px;
}
#hourly li:last-child{
    border-right:none;
}
#hourly ul{
    display:flex;
    flex-wrap: nowrap;
    width: 100px;
    background-color: beige;
    overflow-x: auto;
    padding:0;
    list-style-type: none;
    
}
/*end scroll bar*/
}


