/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Put your name here
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize*
/*noramilize css will be imported*/
@import url('normalize.css');
/*google font sansita import*/
@import url('https://fonts.googleapis.com/css?family=Sansita');
/*  1.2 Google fonts*

/* 2. General Style Rules*/
html {
  box-sizing: border-box;
 }
 
 *, *:before, *:after{
  box-sizing: inherit;
 }

h1,h2,h3,h4,h5,h6 {
  font-family: sansita, sans-serif;
}

body {
  font-family: helvetica, sans-serif;
}

#page-header>h1 {
  font-family: helvetica, sans-serif;  
}

.bold{
font-weight: bold;
}

#hourly{
border-style: solid;
border-color: black; 
border-width: 1px;
border-radius: 15px;
margin-top: 15px;
}

#hourly ul{
display:flex;
overflow-x: auto;
padding:0;
list-style-type: none;
}

#hourly li{
  flex-shrink: 0;
  border-right: 1px solid blue;
  padding:0 5px;
}

#hourly li:last-child{
  border-right: none;
}

#dial {
  height: 150px;
  width: 150px;
  background: no-repeat center/85% url('/Week8/weather-images/wind-pointer.png');
  z-index: 100;
  margin: -.6em auto 0;
  margin-bottom: -80px;
 }
 .n {
   transform: rotate(0deg);
 }
 .ne{
   transform: rotate(45deg);
 }
 .e{
  transform: rotate(90deg);
}

.se{
  transform: rotate(135deg);
}

.s{
  transform: rotate(180deg);
}

.sw{
  transform: rotate(225deg);
}

.w{
  transform: rotate(270deg);
}

.nw{
  transform: rotate(315deg);
}
#curWeather{
  background-size: cover;
}


/* 3. Mobile First Rules */
nav {
position: fixed;
bottom: 0;
left: 0;
background-color: white;
}

nav ul {
display: flex;
}


nav ul li { 
margin-right: 7px;
list-style: none;
}


footer{
margin-bottom: 3em;
}

#locInfo>p{
  text-align: justify;
  font-size: 0.9em;
}

#curWeather{
text-align: center;
display:flex;
flex-direction: column;
}

.tile{
background-color: rgba(128, 154, 184, 0.6);
margin: .2em auto;
border: 1px solid;
border-radius: 15px;
width: 200px;
height: 200px;
}

.hide{
  display: none;
}

#dailyTemp{
font-size: 5em;
margin: 0px;
}

#redFont{
color: red;
}

#blueFont{
color: blue;
}
#dial{
  height: 100px;
  margin-bottom: -80px;
}
#mph{
  margin-top: 20px;
  margin-bottom: 40px;
}
#summaryPhoto{
  height: 150px;
  width: 150px;
  margin-left: 25px;
  margin-top: -10px;
  margin-bottom: 25px;
}
.clear{background-image: url(/Week8/weather-images/clear250Sm.jpg);

}
.fog{background-image: url(/Week8/weather-images/fog250Sm.jpg);

}
.snow{background-image: url(/Week8/weather-images/snow250Sm.jpg);

}
.rain{background-image: url(/Week8/weather-images/rain250Sm.jpg);

}
.clouds{background-image: url(/Week8/weather-images/clouds250Sm.jpg);

}
/*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */
@media screen and (min-width: 750px){
  /*All large screen css rules go here */
  body{
    margin: 0px 50px;
  }
  
    nav {
      position: unset;
    }
  
    nav ul {
      border-style: solid;
      border-color: black; 
      border-width: 1px;  
      width: 950px;
    } 
  
    nav ul li {
      padding: 10px;
    }
  
    nav ul li:nth-child(2) {
      border-right: 1px solid black;
    }
  
    #curWeather{
      flex-direction: row;
      border-style: solid;
      border-color: black; 
      border-width: 1px; 
      padding: 30px 0px;
    }
  
    .hide{
      display:block;
  }
  
    .tile{
      height: 350px;
      width: 350px;
    }
    #dial {
      height: 150px;
      width: 150px;
    }
  
    #mph{
      margin-top: 0px;
      margin-bottom: 80px;
    }
  
    #summaryPhoto {
      height: 300px;
      width: 300px;
      margin-left: 25px;
      margin-top: -10px;
      margin-bottom: 25px;
    }
    .clear{background-image: url(/Week8/weather-images/clear400Md.jpg);

    }
    .fog{background-image: url(/Week8/weather-images/fog400Md.jpg);

    }
    .snow{background-image: url(/Week8/weather-images/snow400Md.jpg);

    }
    .rain{background-image: url(/Week8/weather-images/rain400Md.jpg);

    }
    .clouds{background-image: url(/Week8/weather-images/clouds400Md.jpg);

    }
/*end scroll bar*/
}


